@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --gutter: 20px;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(600px, 5fr);
    background-image: url('../../../assets/village/boss/castle.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* main panel layout */
.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-panel {
    padding: 100px 100px 0px 100px;
    background-image: none;
    background-color: rgba(47, 79, 79, 0);
    display: grid;
    width: 100%;
    grid-template-rows: 4fr 1fr 3fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

button {
    font-family: 'Press Start 2P', cursive;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

/* styling for left panel */
.character-sheet {
    font-family: 'Fondamento', cursive;
    font-size: 1rem;
    height: 750px;
    width: 350px;
    padding-top: calc(2 * var(--gutter));
    background-image: url('../../../assets/parchment.png');
    background-size: 350px 750px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.character-sheet h2 {
    font-size: 2rem;
    font-style: italic;
    color: rgb(233, 156, 55);
    text-shadow: 2px 2px 5px rgb(61, 39, 11);
}

.hero-name {
    margin: var(--gutter);
}

.portrait {
    position: relative;
    z-index: 1;
}

.hero-picture {
    height: 200px;
    width: 200px;
    position: relative;
    z-index: -1;
}

.hero-picture-border {
    height: 240px;
    width: 240px;
    top: -20px;
    left: -20px;
    position: absolute;
    z-index: 10;
}

.stats {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: var(--gutter);
}
.stats p {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.stats .bar {
    margin: var(--gutter) 0;
}

img.hp, img.xp {
    height: 20px;
}

.hero-sprite {
    width: 150px;
}

.enemy-sprite {
    transform: scaleX(-1);
    width: 700px;
}

/* center panel styling */
.top-center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border: none;
    border-radius: 100px;
    background-color: rgba(143, 120, 151, 0.605);
    animation: glow 5s ease-in-out infinite alternate;
}

.mid-center {
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    padding: 10px;
    background-color: rgba(101, 67, 114, 0.605);
    border: 5px double black;
    border-radius: 10px;
}

.bot-center {
    height: 100%;
    background-color: rgba(101, 67, 114, 0.605);
    overflow-y: scroll;
    padding: 10px;
    border: 5px double black;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    line-height: 3.0rem;
}

@-webkit-keyframes glow {
    from {
        box-shadow: 
        0 0 200px rgba(101, 67, 114, 0.605), 
        0 0 300px rgba(101, 67, 114, 0.605), 
        0 0 400px rgba(115, 158, 122, 0.781), 
        0 0 500px rgba(101, 67, 114, 0.605), 
        0 0 600px rgba(101, 67, 114, 0.605), 
        0 0 700px rgba(101, 67, 114, 0.605);
    }
    to {
        box-shadow: 
        0 0 100px rgba(206, 179, 218, 0.605), 
        0 0 200px rgba(57, 51, 59, 0.605), 
        0 0 300px rgba(221, 203, 228, 0.605), 
        0 0 400px rgba(144, 129, 150, 0.605), 
        0 0 500px rgba(73, 66, 75, 0.605), 
        0 0 600px rgba(169, 155, 175, 0.605), 
        0 0 700px rgba(82, 76, 85, 0.605);
    }
}