@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing:border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(500px, 3fr) 1fr;
    background-image: url('https://i.pinimg.com/originals/13/66/a4/1366a46d44b85f999ca01329adae7369.png');
}

.enemy-attack {
    margin-right: 100px;
}

.center-panel {
    display: grid;
    width: 100%;
    grid-template-rows: 4fr 1fr 3fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    justify-content: center;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-sprite {
    width: 30%;
}
.combat-log {
    height: 100%;
    /* background-image: url('../assets/parchment.png');
    background-size: cover; */
    background-color: rgba(207, 166, 52, 0.151);
    overflow-y: scroll;
    padding: 10px;
    border: 5px double black;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    line-height: 3.0rem;
}

.combat-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    padding: 10px;
    border: 5px double black;
    border-radius: 10px;
}

button {
    font-family: 'Press Start 2P', cursive;
}

.combat-arena {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(250, 250, 240);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-position-y: -100px; */
    border: 5px double black;
    border-radius: 10px;
}

#abominable-monster {
    display: grid;
    row-gap: 0;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.top {
    margin-top: 100px;
    align-items: center;
    width: 300px;
    margin-bottom: -20px;
    padding: 0px;
}

.leggie {
    margin-top: -5px;
    width: 300px;
}

#abominame {
    font-size: 20px;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.slab-gif {
    margin-top: 100px;
    padding: 10px;
    border-radius: 30px;
}