.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hero-picture {
    border: 10px solid transparent;
    border-image-slice: 60 fill;
    border-image-width: 50;
    border-image-repeat: stretch;
    border-image-outset: 50px;
    border-image-source: url('../assets/border.png');
}

.hero-attack {
    margin-left: 100px;
}

#character-sheet {
    height: 600px;
    width: 350px;
    background-image: url('../assets/parchment.png');
    background-size: 350px 600px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hero-bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hp-bar {
    display: flex;
    flex-direction: row;
}

.hero-bars img {
    height: 300px; 
    width: 325px;
}
/* @keyframes attack {
    transform: translateX(100%);
    from { left: 0px; }
    to { left: 200px; }
} */

/* @-webkit-keyframes attack {
    30% {
        transform: translateX(0);
        visibility: visible;
    }
    66% {
        transform: translateX(80%);
        visibility: visible;
    }
    99% {
        transform: translateX(0);
        visibility: visible;
    }
} */

/* @keyframes attack {
    20% {
        left: 20px;
    }
    40% {
        left: 50px;
    }
    60% {
        left: 100px;
    }
    80% {
        left: 30px;
    }
    100% {
        left: 0px;
    }
} */
