.center-panel {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-image: url('.a/');
}
.character {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 5px double black;
    border-radius: 10px;
    text-align: center;
    transform: scale(0.9) ;
-webkit-transform: scale(0.9) ;
-moz-transform: scale(0.9) ;
    background-color: rgba(0, 0, 0, 0.541);
    color: gold;
    -webkit-box-shadow:0px 0px 152px 18px rgba(45,255,196,0.6);
-moz-box-shadow: 0px 0px 152px 18px rgba(45,255,196,0.6);
box-shadow: 0px 0px 152px 18px rgba(45,255,196,0.6);
}

.radio-buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.knight {
    position: relative;
}