body {
    display: grid;
    grid-template-columns: 1fr minmax(600px, 3fr) 1fr;
    background-image: url(../assets/village/lab.png);
    background-repeat: no-repeat;
    background-size: 135% auto;
    background-color: black;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-left: 30px;
}

.center-panel {
    justify-self: center;
    animation: glow 2s ease-in-out infinite alternate;
    background-color: rgba(172, 229, 153, 0.632);
    background-image: none;
    border: 5px double rgb(70, 51, 23);
    border-radius: 30px;
    font-family: Aladin;
    font-size: 20px;
    text-align: center;
    display: block;
    overflow: visible;
    margin: 20px;
    padding: 20px;
    height: 100%;
    width: 600px;
}

h1 {
    background-color: rgba(172, 229, 153, 0.632);
    border-radius: 30px;
    font-family: Aladin;
    font-size: 45px;
    text-align: center;
    animation: glow 2s ease-in-out infinite alternate;
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 15px;
}

.center-panel p {
    padding: 10px;
}

.hero-name {
    font-family: Montez;
    font-size: 2.5rem !important;
    font-weight: bolder;
}

.stats {
    font-family: Aladin;
}

.lab-butt-fight, .lab-butt-flee {
    background-color: rgb(182, 202, 51);
    padding: 10px;
    border-radius: 20px;
    border: 5px double rgb(57, 85, 1);
    font-family: Aladin;
    font-size: 20px;
}

.lab-gif, .slab-gif {
    padding: 10px;
    border-radius: 30px;
    padding: 20px;
    width: 500px;
}


@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 20px rgba(138, 194, 168, 0.653), 0 0 30px rgba(132, 133, 132, 0.767), 0 0 40px rgba(115, 158, 122, 0.781), 0 0 50px rgba(122, 160, 130, 0.76), 0 0 60px rgba(111, 160, 111, 0.795), 0 0 70px rgba(113, 150, 109, 0.767);
    }
    to {
        box-shadow: 0 0 10px rgba(58, 224, 43, 0.858), 0 0 20px rgba(121, 241, 121, 0.701), 0 0 30px rgba(52, 223, 36, 0.849), 0 0 40px rgba(150, 218, 192, 0.481), 0 0 50px rgba(175, 216, 174, 0.81), 0 0 60px rgba(152, 184, 147, 0.742), 0 0 70px rgba(125, 219, 116, 0.714);
    }
}