.center-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.76);
    box-shadow: 0px 20px 100px 100px rgba(0, 0, 0, 0.76);
}

.title-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://img1.picmix.com/output/stamp/normal/0/4/0/3/653040_2134b.gif');
    background-size: cover;
}

#title-picture {
    max-width: 900px;
    max-height: 200px;
    background-image: url('https://img1.picmix.com/output/stamp/normal/0/4/0/3/653040_2134b.gif');
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#log-in-form {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    color: white;
}

#sign-up-form {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    color: white;
}

h2 {
    font-size: 50px;
    color: red;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    margin-bottom: 15px;
}

@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px lightyellow, 0 0 30px goldenrod, 0 0 40px orange, 0 0 50px orangered, 0 0 60px rgb(238, 36, 30), 0 0 70px red;
    }
    
    to {
    text-shadow: 0 0 20px red, 0 0 30px rgb(238, 36, 30), 0 0 40px orangered, 0 0 50px orange, 0 0 60px lightyellow, 0 0 70px white;
    }
}

.dragon-img {
    background-image: url('https://img1.picmix.com/output/stamp/normal/0/4/0/3/653040_2134b.gif');
    background-repeat: repeat;
    background-size: cover;
    background-color: rgba(201, 24, 24, 0.329);
    border-radius: 160px;
    width: fit-content;
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 7px 7px 9px 15px rgba(0,0,0,0); 
box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 7px 7px 9px 15px rgba(0,0,0,0);
}
