@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "./node_modules/nes.css/css/nes.css";

:root {
    --gutter: 20px;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(600px, 3fr) 1fr;
    background-image: url('https://i.pinimg.com/originals/13/66/a4/1366a46d44b85f999ca01329adae7369.png');
}

/* main panel layout */
.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-panel {
    padding: 100px 100px 0px 100px;
    background-image: url("../assets/parchment.png");
    background-size: cover;
    background-color: rgba(47, 79, 79, 0);
    display: grid;
    width: 100%;
    grid-template-rows: 4fr 1fr 3fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.right-panel {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    font-family: 'Press Start 2P', cursive;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

/* styling for left panel */
.character-sheet {
    font-family: 'Fondamento', cursive;
    font-size: 1rem;
    height: 750px;
    width: 350px;
    padding-top: calc(2 * var(--gutter));
    background-image: url('../assets/parchment.png');
    background-size: 350px 750px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.character-sheet h2 {
    font-size: 2rem;
    font-style: italic;
    color: rgb(233, 156, 55);
    text-shadow: 2px 2px 5px rgb(61, 39, 11);
}

.hero-name {
    margin: var(--gutter);
}

.portrait {
    position: relative;
    z-index: 1;
    margin: var(--gutter);
}

.hero-picture {
    height: 200px;
    width: 200px;
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('https://img1.picmix.com/output/stamp/normal/0/4/0/3/653040_2134b.gif');
}

.hero-picture-border {
    height: 240px;
    width: 240px;
    top: -20px;
    left: -20px;
    position: absolute;
    z-index: 10;
}

.stats {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: var(--gutter);
}
.stats p {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.stats .bar {
    margin: calc(var(--gutter) / 2) 0;
}

img.hp, img.xp {
    height: 20px;
}

/* center panel styling */
.top-center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px double black;
    border-radius: 10px;
}

.mid-center {
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    padding: 10px;
    border: 5px double black;
    border-radius: 10px;
}

.bot-center {
    height: 100%;
    background-color: rgba(207, 166, 52, 0.151);
    overflow-y: scroll;
    padding: 10px;
    border: 5px double black;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    line-height: 3.0rem;
}

.hidden {
    display: none;
}