@import "./node_modules/nes.css/css/nes.css";



body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing:border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(500px, 3fr) 1fr;
    background-image: url('https://i.pinimg.com/originals/13/66/a4/1366a46d44b85f999ca01329adae7369.png');
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-panel {
    padding: 100px 100px 0px 100px;
    background-image: url("../assets/parchment.png");
    background-size: cover;
    background-color: rgba(47, 79, 79, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.right-panel {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

button {
    cursor: pointer;
}