@import "./node_modules/nes.css/css/nes.css";


body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 1331px 1fr;
    background-image: url('https://i.pinimg.com/originals/13/66/a4/1366a46d44b85f999ca01329adae7369.png');
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-panel {
    background-color: rgba(47, 79, 79, 0);
    padding: 0;
    margin: 10px;
    display: inline;
    background-image: url('../assets/Village.jpeg');
    height: 998px;
    width: 1331px;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    z-index: 0;
    position: absolute;
}

/* .locations {
    padding: 0;
    margin: 0;
    background-image: none;
    background-repeat: no-repeat;
} */

button {
    z-index: 50;
    position: relative;
}

button.merchant {
    top: 285px;
    right: 210px;
    background-image: url('../assets/village/merchant.png');
    background-size: cover;
    background-color: transparent;
    height: 420px;
    width: 276px;
    border: none;
    border-radius: 100px;
    color: white;
}

button.merchant:hover {
        animation: glow 1s ease-in-out infinite alternate;
        background-color: rgba(55, 62, 59, 0.475);
}
button {
    cursor: pointer;
}

@-webkit-keyframes glow {
    from {
    box-shadow: 0 0 10px rgba(53, 46, 46, 0.666), 0 0 20px rgba(67, 67, 62, 0.701), 0 0 30px rgba(95, 91, 81, 0.849), 0 0 40px rgba(80, 77, 71, 0.481), 0 0 50px rgba(82, 77, 76, 0.81), 0 0 60px rgba(105, 89, 88, 0.742), 0 0 70px rgba(49, 44, 44, 0.714);
    }
    
    to {
    box-shadow: 0 0 20px rgba(83, 75, 75, 0.653), 0 0 30px rgba(80, 71, 71, 0.767), 0 0 40px rgba(70, 63, 60, 0.781), 0 0 50px rgba(80, 77, 71, 0.76), 0 0 60px rgba(78, 78, 74, 0.795), 0 0 70px rgba(97, 90, 90, 0.767);
    }
}

.tavern {
    top: 780px;
    left: 470px;
}

.wilderness {
    top: 830px;
    left: 880px;
}

.church {
    top: 170px;
    left: 760px;
}

.laboratory {
    top: 400px;
    left: 1050px;
}

.boss {
    top: 70px;
    left: 160px;
}