@import "./node_modules/nes.css/css/nes.css";

body {
    display: grid;
    grid-template-columns: 1fr 1331px 1fr;
    background-image: url('https://i.pinimg.com/originals/13/66/a4/1366a46d44b85f999ca01329adae7369.png');
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-panel {
    background-color: rgba(47, 79, 79, 0);
    padding: 0;
    margin: 0;
    display: inline;
    background-image: url('../assets/Village.jpeg');
    height: 998px;
    width: 1331px;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    position: absolute;
}
/* 
.locations {
    background-repeat: no-repeat;
    background-size: contain;
} */

button {
    cursor: pointer;
    position: relative;
    font-size: 50px;
    text-align: center;
    font-family: Montez;
    text-align: match-parent;
    color: cornsilk;
    text-shadow: 5px 5px 5px #020202;
}

button.merchant {
    top: 228px;
    right: 945px;
    background-image: url('../assets/village/merchant.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 420px;
    width: 276px;
    border: none;
    border-radius: 100px;
}

/* button.boss {
    bottom: 120px;
    right: 30px;
} */

button.church {
    bottom: 33px;
    left: 252px;
    background-image: url('../assets/village/church.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 335px;
    width: 191px;
    border: none;
    border-radius: 100px;
}

button.tavern {
    top: 430px;
    left: 314px;
    background-image: url('../assets/village/tavern.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 500px;
    width: 512px;
    border: none;
    border-radius: 100px;
}

button.laboratory {
    top: 277px;
    left: 420px;
    background-image: url('../assets/village/laboratory.png');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 525px;
    width: 225px;
    border: none;
    border-radius: 100px;
    z-index: 1;
}

button.wilderness {
    bottom: 0;
    left: 922px;
    background-image: url('../assets/village/wilderness.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 630px;
    width: 414px;
    border: none;
    border-radius: 100px;
}

button.merchant:hover, button.tavern:hover, 
button.wilderness:hover, button.church:hover, 
button.laboratory:hover {
        animation: glow 2s ease-in-out infinite alternate;
        background-color: rgba(105, 106, 106, 0.858);
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 20px rgba(83, 75, 75, 0.653), 0 0 30px rgba(133, 132, 132, 0.767), 0 0 40px rgba(70, 63, 60, 0.781), 0 0 50px rgba(171, 169, 166, 0.76), 0 0 60px rgba(78, 78, 74, 0.795), 0 0 70px rgba(182, 182, 182, 0.767);
    }
    to {
        box-shadow: 0 0 10px rgba(181, 181, 181, 0.666), 0 0 20px rgba(186, 186, 186, 0.701), 0 0 30px rgba(211, 211, 211, 0.849), 0 0 40px rgba(181, 181, 181, 0.481), 0 0 50px rgba(180, 178, 178, 0.81), 0 0 60px rgba(210, 210, 210, 0.742), 0 0 70px rgba(49, 44, 44, 0.714);
    }
}