@import "./node_modules/nes.css/css/nes.css";


body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(1000px, 8fr) 1fr;
    background-image: url('https://i.pinimg.com/originals/13/66/a4/1366a46d44b85f999ca01329adae7369.png');
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-panel {
    background-color: rgba(47, 79, 79, 0);
    background-image: none;
    padding: 0;
    margin: 10px;
    display: inline;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    z-index: 0;
    position: absolute;
}

/* .locations {
    padding: 0;
    margin: 0;
    background-image: none;
    background-repeat: no-repeat;
} */

button {
    z-index: 50;
    position: relative;
}

.merchant {
    position: relative;
    top: 40px;
    left: 60px;
}

.tavern {
    position: relative;
    top: 140px;
    left: 90px;
}

.wilderness {
    position: relative;
    top: 40px;
    left: 60px;
}

.merchant {
    position: relative;
    top: 40px;
    left: 60px;
}